.navbar {
    font-family: 'Open Sans', sans-serif;
}

.header {
    font-size: 200px;
}

.skills {
    display: flex;
}

.accenture,
.tech9logy,
.stevens,
.vit,
.skill-list {
    list-style-type: none;
}

.header-container {
    height: 80vh;
}

.button-github {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
